.container {
    display: grid;
    grid-template-rows: 80px 0.5fr 1fr 80px;
    justify-items: center;
    row-gap: 50px;
    padding: 0 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}