.user {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #f6f6f6;
    padding: 15px;

    &__info {
        display: grid;
        row-gap: 20px;
        width: 80%;
        padding: 20px;
    }

    &__avatar {
        height: 370px;
        width: 290px;
    }

    &__title {
        font-size: 50px;
    }

    &__subtitle {
        font-size: 30px;
    }

    &__text {
        font-size: 20px;
    }

    &__contacts-item {
        font-size: 18px;
    }
}